@import 'common/variable';
@import 'common/boostrap';
@import 'common/mixins';
@import 'common/fonts';
@import 'common/general';
@import 'common/nav';
@import 'common/footer';

// Detail css pages
@import 'components/blog';
@import 'components/resume';
@import 'components/project';
