doctype html
html
  include ./head

  body
    #wrapper
      nav
        include ../components/nav
      main
        block content
      footer
        include ../components/footer
    include ./scripts
