.container
  h1.brand-name Yen Ka.
  span.choice-btn.js-choice Please choose page
  ul.menu-item
    li.menu-item__item
      a(href="#home").menu-item__link.active.js-item Home
    li.menu-item__item
      a(href="#projects").menu-item__link.js-item Projects
    li.menu-item__item
      a(href="#resume").menu-item__link.js-item Resume
    li.menu-item__item
      a(href="#blog").menu-item__link.js-item Blog
    li.menu-item__item
      a(href="#login" data-toggle="modal" data-target="#generalMmodal").menu-item__link.js-item Login
