extends tmpl/layout/layout.pug

block content
  .container
    section.current-position
      hr.half
      h1.current-position__title.title Front End Developer at 
        span.strong ekino
      hr.half
      .row
        .col-sm
          h2.current-position__passion.title
            span.strong What 
            | is Lorem Ipsum?
          p.current-position__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        .col-sm
          h2.current-position__passion.title
            span.strong What 
            | is Lorem Ipsum?
          p.current-position__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        .col-sm
          h2.current-position__passion.title
            span.strong What 
            | is Lorem Ipsum?
          p.current-position__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
