.strong {
  color: $color-pizazz;
}

.title {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: $montserrat-bold;
}

.half {
  border: 0;
  background-image: -webkit-linear-gradient(left,transparent,rgba(0,0,0,.1),transparent);
  background-image: -moz-linear-gradient(left,transparent,rgba(0,0,0,.1),transparent);
  background-image: -ms-linear-gradient(left,transparent,rgba(0,0,0,.1),transparent);
  background-image: -o-linear-gradient(left,transparent,rgba(0,0,0,.1),transparent);
  height: 1px;
  margin: 30px 0;
}

.btn-main {
  color: $color-white;
  background: $color-pizazz;
  min-width: 200px;
  text-transform: uppercase;
  font-family: $montserrat-bold;
}

.modal {
  &-header {
    .close {
      color: $color-white;
      background: $color-black;
      opacity: 1;

      &:hover,
      &:focus {
        opacity: .5;
      }
    }

    &__title {
      text-transform: uppercase;
      font-family: $montserrat-bold;
    }
  }

  &-content {
    border-radius: 0;
  }

  &-body {
    &__title {
      display: block;
      margin: 0 auto 10px;
      font-family: $montserrat-bold;
    }
  }
}
